.device-term-view {
    h2 {
        margin-top: 0;
    }

    .device-term-input {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
        box-sizing: border-box;

        input {
            flex: 1 1 70%;
            padding: 8px 16px;
            font-size: 16px;
            text-transform: uppercase;
            box-sizing: border-box;
        }

        button {
            flex: 1 1 10%;
            font-size: 16px;
            font-weight: 600;
            padding: 6px 9px;
            box-sizing: border-box;
            color: #333;
        }
    }

    .device-term-log {

        pre {
            background: rgba(#fff, .1);
            margin: 0;
            padding: 16px;
            width: 100%;
            min-height: 256px;
            max-height: 320px;
            box-sizing: border-box;
            overflow: auto;
        }

    }
}