.device-term-view.base-content-block

    h2.base-content-block-title Terminal
    
    .device-term-log: pre(refLogsPre)
    
    .device-term-input
        input(type="text" refCodeInput)
        button(type="button" refSendBtn) Send
        button(type="button" refRefreshBtn) Refresh

