.machine-base-ctrls.base-content-block

    .directional-ctrls
        .ctrls-line
            .ctrl-cell: button.cm(type="button", ref="tlBtn") 10x◤
            .ctrl-cell: button.um(type="button") .1x◤
            .ctrl-cell: button.cm(type="button") 10x▲
            .ctrl-cell: button.um(type="button") .1x▲
            .ctrl-cell: button.cm(type="button") 10x◥
        .ctrls-line
            .ctrl-cell: button.um(type="button") .1x◀
            .ctrl-cell: button.mm(type="button") ◤
            .ctrl-cell: button.mm(type="button", ref="dirTBtn") ▲
            .ctrl-cell: button.mm(type="button") ◥
            .ctrl-cell: button.um(type="button") .1x◥
        .ctrls-line
            .ctrl-cell: button.cm(type="button") 10x◀
            .ctrl-cell: button.mm(type="button", ref="dirLBtn") ◀
            .ctrl-cell: button.mm(type="button") ◉
            .ctrl-cell: button.mm(type="button", ref="dirRBtn") ▶
            .ctrl-cell: button.cm(type="button") 10x▶
        .ctrls-line
            .ctrl-cell: button.um(type="button") .1x◣
            .ctrl-cell: button.mm(type="button") ◣
            .ctrl-cell: button.mm(type="button", ref="dirBBtn") ▼
            .ctrl-cell: button.mm(type="button") ◢
            .ctrl-cell: button.um(type="button") .1x▶
        .ctrls-line
            .ctrl-cell: button.cm(type="button") 10x◣
            .ctrl-cell: button.um(type="button") .1x▼
            .ctrl-cell: button.cm(type="button") 10x▼
            .ctrl-cell: button.um(type="button") .1x◢
            .ctrl-cell: button.cm(type="button") 10x◢


    .home-ctrls
        button(type="button", ref="homeBtn") ☗
        button(type="button", ref="homeXBtn") ☗ X
        button(type="button", ref="homeYBtn") ☗ Y
        button(type="button", ref="homeZBtn") ☗ Z

    .utils-btns
        button(type="button") Motors On
        button(type="button") Motors Off