
.app-component
    include ./device-selector/device-selector.pug

    //- include ./device-selected/device-selected.pug
    //- include ./machine-base-ctrls/machine-base-ctrls.pug
    //- include ./file-ctrl/file-ctrl.pug

        
