.app-workbench-files.base-content-block
    h2 Workbench Files

    .selected-file
        .file-info(ref="selectedInfo") nenhum selecionado
        .file-actions
            button(ref="printBtn") Print
            button(ref="refreshBtn") Refresh

    .files-list(ref="fileList")
