.file-ctrl {
    .file-controls {
        background: rgba(#fff, .1);
        margin-bottom: 16px;
        padding: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .ml-auto {
            margin-left: auto;
        }

        button {
            padding: 3px 9px;
            font-size: 14px;
            font-weight: 600;
            color: #333;
        }
    }

    .gcode-text-preview {
        pre {
            padding: 16px;
            height: 300px;
            max-height: 80vh;
            overflow: auto;
            text-transform: uppercase;
            background: rgba(#fff, .1);
        }

        textarea {
            background: rgba(#fff, .1);
            color: #fff;
            padding: 16px;
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            min-height: 300px;
            max-height: 80vh;
            text-transform: uppercase;
            box-sizing: border-box;
        }
    }
}