.workbench-files {
    h2 {
        margin-top: 0;
    }

    .selected-file {
        background: rgba(#fff, .1);
        margin-bottom: 16px;
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .file-info {
            font-size: 18px;
        }

        .file-actions {
            margin-left: auto;

            button {
                padding: 3px 9px;
                font-size: 14px;
                font-weight: 600;
                color: #333;
                margin-left: 4px;
            }
        }
    }

    .files-list {
        margin-bottom: 16px;
        background: rgba(#fff, .1);
        max-height: 400px;
        overflow: auto;

        .file-item {
            padding: 8px 16px;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: solid thin rgba(#fff, .1);
            }

            &:hover {
                background: rgba(#fff, .1);
            }
        }
    }

}