.device-selector-view.base-content-block
    .devices-header
        h2 Devices List
        button.ml-auto(type="button" refRefreshBtn) Atualizar
    .devices-list(refListWrap)
        .device-item-wrap
            .loading-message Carregando...

