.section-file.base-content-block
    .file-controls
        input(type="file" multiple="false" accept=".gcode,.txt")
        button.ml-auto(type="button") Print
    .gcode-text-preview
        pre(contentEditable="true")